@use '../../styles/colors.styles.scss' as colors;
@use '../../styles/content-width.styles.scss' as contentWidth;

.footer-main-content {
    margin: 0 contentWidth.$padding-width;
    text-align: left;
    
    @media (max-width: contentWidth.$media-boundary) {
        text-align: center;
    }

    @media (min-width: contentWidth.$media-boundary) and (max-width: contentWidth.$content-width){
        margin: 0 contentWidth.$padding-width;
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: contentWidth.$content-width){
        width: contentWidth.$content-width;
        padding: 0 contentWidth.$padding-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    } 
}

.address-info {
    padding-top: 41px;
    font-size: 14px;
    line-height: 25.2px;
}

.links-container {
    padding-top: 41px;
    padding-bottom: 41px;

    .site-links {
        .text-link {
            font-size: 14px;
            color: colors.$ds-white-1;
            padding: 0.6em;
            white-space: nowrap;
    
            &:hover {
                color: colors.$ds-yellow-1;
                cursor: pointer;
            }
        }
    
        @media (min-width: contentWidth.$media-boundary) {
            max-width: 354px;
            display: flex;
            flex-wrap: wrap;
            min-height: 30px;

            //TODO: Check with M if he prefers with/without this
            justify-content: end;
        }

        @media (max-width: contentWidth.$media-boundary) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            min-height: 30px;
        }
    }
    
    
    .sm-icon-container {
        padding-top: 20px;
        display: flex;
        gap: 10px;

        .sm-icon {
            color: colors.$ds-white-1;

            &:hover {
                color: colors.$ds-yellow-1;
                cursor: pointer;
            }
        }

        @media (max-width: contentWidth.$media-boundary) {
            width: 100%;
            justify-content: center;
        }

        @media (min-width: contentWidth.$media-boundary) {
            padding-left: 0.6em;

            //TODO: Check with M if he prefers with/without this
            justify-content: end;
        }
    }    
}


.copyright-banner {
    height: 50px;
    font-size: 13px;
    background-color: colors.$ds-purple-1;

    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @media (max-width: contentWidth.$media-boundary) {
        width: 100%;
        text-align: center;
    }

    @media (min-width: contentWidth.$media-boundary) and (max-width: contentWidth.$content-width){
        width: 100%;
        padding: 0 contentWidth.$padding-width
    }

    @media (min-width: contentWidth.$content-width){
        .copyright-banner-text-container {
            width: contentWidth.$content-width;
            padding: 0 contentWidth.$padding-width;
            margin: 0 auto;
        }
    }
}