<div class="footer-main-content">
    <p class="address-info">
        <strong>DreamShift INC</strong><br/>
        30N Gould St Ste R Sheridan, <br/>
        Wyoming 82801, United States <br/>
        admin&#64;dreamshift.net
    </p>
    <div class="links-container">
        <div class="site-links">
            <a class="text-link">Home</a>
            <a class="text-link">Our Services</a>
            <a class="text-link">Contact</a>
            <a class="text-link">Terms and Policies</a> 
        </div>
        <div class="sm-icon-container">
            <i class="fa-brands fa-square-linkedin fa-lg ds-clickable-icon"></i>
            <i class="fa-brands fa-instagram fa-lg ds-clickable-icon"></i>
            <i class="fa-brands fa-tiktok fa-lg ds-clickable-icon"></i>
            <i class="fa-brands fa-facebook-f fa-lg ds-clickable-icon"></i>
        </div>
    </div>
</div>
<div class="copyright-banner">
    <div class="copyright-banner-text-container">
        © {{ currentYear }} DreamShift. All rights reserved.
    </div>
</div>