<div class="blog-post-right-panel-container">
    <div class="yellow-card">
        <img [src]="cdnUrl + '2024/05/match-those-keywords-4.png'" alt="Match Those Keywords" />
        <div>
            <h4>We land job interviews in 60 days</h4>
            <p>In case you don’t land at least one interview within 60 days – we will give you a 50% Refund or work for free</p>
            <button class="btn ds-primary-inverted-btn small-btn">Learn more</button>    
        </div>
    </div>

    <div class="purple-card">
        <img [src]="cdnUrl + '2024/05/match-those-keywords-5.png'" alt="Match Those Keywords" />
        <div>
            <h4>Proven Job Search Strategy (FREE)</h4>
            <p>We analysed 100+ Successful Job Seekers in Australia and turned it into a step-by-step guide.</p>
            <button class="btn ds-primary-btn small-btn">Learn more</button>
        </div>
    </div>
</div>