<div class="page-container">
    <img [src]="cdnUrl + '2025/11/Untitled-design.gif'" alt="In Progress" class="slide-in-from-bottom animated-element-first" />
    <div>
        <h1 class="large-title slide-in-from-bottom animated-element-second">In Progress</h1>
        <h5 class="yellow-title slide-in-from-bottom animated-element-third">
            This page is currently under construction. We are working hard to bring you a better experience. Please check back soon!
        </h5>    
    </div>
</div>