@use 'styles/content-width.styles.scss' as contentWidth;
@use 'styles/colors.styles.scss' as colors;

:host {
  display: block;
  width: 100%;
}

.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  // height: max-content;
}

.carousel-track {
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

$three-testimonials-width: 34%;
$two-testimonials-width: 48%;
$one-testimonials-width: 90%;

.carousel-image-container {
  flex: 0 0 auto;
  padding: 20px;

  @media (min-width: contentWidth.$content-width) {
    width: $three-testimonials-width;
  }

  @media (min-width: contentWidth.$content-narrow-width) and (max-width: contentWidth.$content-width) {
    width: $two-testimonials-width;
  }

  @media (max-width: contentWidth.$content-narrow-width) {
    width: $one-testimonials-width;
  }
}