<div class="page-container connection-bank-preview">
    <h1 class="large-title">Job Search Action Plan</h1>

    <div class="job-search-action-plan-container">
        We’ve created a simple Job Search Strategy for you, focusing on three key areas to help you land your next opportunity:
        
        <ol>
            <li><a (click)="scrollTo('online-job-applications')">Online Job Applications</a></li>
            <li><a (click)="scrollTo('utilizing-your-connections')">Utilizing Your Connections</a></li>
            <li><a (click)="scrollTo('reaching-out-to-recruiters')">Reaching Out to Recruiters</a></li>
        </ol>
        This guide will walk you through everything you need to do each week as you work toward landing your next job. From job applications to follow-ups and networking — we’ve broken it down into clear, easy steps.
    </div>

    <h2 class="yellow-title" id="online-job-applications">Online Job Applications </h2>
    <div>
        <h3 class="job-search-subtitle">Guidelines</h3>
    </div>
    <div>
        <h3 class="job-search-subtitle">Email Templates</h3>
        <app-email-template-list [templates]="onlineJobSearchTemplates"></app-email-template-list>    
    </div>


    <h2 class="yellow-title" id="utilizing-your-connections">Utilizing Your Connections </h2>
    <div>
        <h3 class="job-search-subtitle">Guidelines</h3>
    </div>
    <div>
        <h3 class="job-search-subtitle">Email Templates</h3>
        <app-email-template-list [templates]="utilizingYourConnectionsTemplates"></app-email-template-list>    
    </div>

    <h2 class="yellow-title" id="reaching-out-to-recruiters">Reaching Out to Recruiters</h2>
    <div>
        <h3 class="job-search-subtitle">Guidelines</h3>
    </div>
    <div>
        <h3 class="job-search-subtitle">Email Templates</h3>
        <app-email-template-list [templates]="reachingOutToRecruitersTemplates"></app-email-template-list>    
    </div>


    <h1 class="large-title">Tracking Template</h1>

    <div class="excel-downloads-container">
        <div class="excel-downloads-container-item">
            <span class="excel-downloads-text">
                <div>
                    Keep a spreadsheet with the following columns.
                </div>
                <div>
                    You can simply download the following
                </div>
            </span>
            <app-excel-downloads 
            [xlsxUrl]="xlsxUrl"
            [csvUrl]="csvUrl"
            [sheetsUrl]="sheetsUrl"
            [fileName]="fileName"
          />
      
        </div>
    
        <app-excel-preview
          [xlsxUrl]="xlsxUrl"
          [csvUrl]="csvUrl"
          [extraEmptyRows]="10"
          [extraEmptyCols]="11"
        />
    </div>

    <app-full-width-banner mode="aussie-toolkit"></app-full-width-banner>
</div>