<div class="page-container connection-bank-preview">
    <h1 class="large-title">Job Search Action Plan</h1>

    <div class="job-search-action-plan-container">
        We’ve created a simple Job Search Strategy for you, focusing on three key areas to help you land your next opportunity:
        
        <ol>
            <li>Online Job Applications</li>
            <li>Utilizing Your Connections</li>
            <li>Reaching Out to Recruiters</li>
        </ol>
        This guide will walk you through everything you need to do each week as you work toward landing your next job. From job applications to follow-ups and networking — we’ve broken it down into clear, easy steps.
    </div>

    <h2 class="yellow-title">Online Job Applications </h2>

    <div>
        <ds-dropdown
            class="template-selection-dropdown"
            [options]="['Option 1', 'Option 2', 'Option 3']"
            label="Select an option"
            [selected]="selected"
            (selectedChange)="selected = $event"
        />
        <app-email-template></app-email-template>
    </div>

    <h2 class="yellow-title">Utilizing Your Connections </h2>

    <h2 class="yellow-title">Reaching Out to Recruiters</h2>


    <h1 class="large-title">Tracking Template</h1>

    <div class="excel-downloads-container">
        <div class="excel-downloads-container-item">
            <span class="excel-downloads-text">
                <div>
                    Keep a spreadsheet with the following columns.
                </div>
                <div>
                    You can simply download the following
                </div>
            </span>
            <app-excel-downloads 
            [xlsxUrl]="xlsxUrl"
            [csvUrl]="csvUrl"
            [sheetsUrl]="sheetsUrl"
            [fileName]="fileName"
          />
      
        </div>
    
        <app-excel-preview
          [xlsxUrl]="xlsxUrl"
          [csvUrl]="csvUrl"
          [extraEmptyRows]="10"
          [extraEmptyCols]="11"
        />
    </div>

    <app-full-width-banner mode="aussie-toolkit"></app-full-width-banner>
</div>