@use 'styles/content-width.styles.scss' as contentWidth;

div {
    font-size: 1.2rem;
}

h2 {
    font-weight: bold !important; 
}

.template-selection-dropdown {
    position: absolute;
    margin-top: -5px;
    min-width: 320px;
}

.excel-downloads-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .excel-downloads-container-item {
        display: flex;
        justify-content: space-between;

        @media (max-width: contentWidth.$content-extra-narrow-width) {
            flex-direction: column;
            gap: 20px;        
        }
    }

    .excel-downloads-text {
        line-height: 20px;

        @media (max-width: contentWidth.$content-extra-narrow-width) {
            text-align: center;
        }
    }
}