@use 'styles/content-width.styles.scss' as contentWidth;
@use 'styles/colors.styles.scss' as colors;

div {
    font-size: 1.2rem;
}

h2 {
    font-weight: bold !important; 
}

.two-column-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .left-panel {
        flex: 0.35;
    }

    .right-panel {
        flex: 0.65;
    }
}

.weekly-overview-subtitle {
    font-weight: bold !important;
    text-align: left;
    margin: 40px 0 20px 0;
}

.job-search-subtitle {
    font-weight: bold !important;
    text-align: left;
    margin-bottom: 20px;
}

.excel-downloads-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;

    .excel-downloads-container-item {
        display: flex;
        justify-content: space-between;

        @media (max-width: contentWidth.$content-narrow-width) {
            flex-direction: column;
            gap: 20px;        
        }
    }

    .excel-downloads-text {
        line-height: 20px;
    }

    h4 {
        font-weight: bold !important;
        text-align: left;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    ul {
        padding-left: 1rem;
        li {
            line-height: 30px;
            text-align: left;
        }
    }

    .excel-sheet-container {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        @media (max-width: contentWidth.$content-narrow-width) {
            width: 100%;
            gap: 20px;        
        }
    }
}

a {
    color: colors.$ds-yellow-1 !important;

    &:hover {
        color: colors.$ds-yellow-2 !important;
        cursor: pointer !important;
    }
}
