<div #walkthroughContainer class="process-walkthrough-container">
    <div class="process-walkthrough-step" *ngFor="let step of processSteps; let i = index">
        <div>
            <div #iconContainer class="process-walkthrough-icon-container" [style.--element-progress]="getElementProgress(2 * i)">
                <i class="process-icon-circle" [class]="step.icon"></i>
            </div>
            <div class="process-walkthrough-line" [style.--element-progress]="getElementProgress(2 * i + 1)"></div>
        </div>

        <div class="process-walkthrough-text-container" [ngClass]="{'small-text': !step.title}">
            <h5 *ngIf="step.title">{{ step.title }}</h5>
            <p>{{ step.description }}</p>
        </div>
    </div>
</div>