<div class="interview-guarantee-container">
    <img [src]="cdnUrl + '2025/11/60-days-Job-interview-Guaranteed@4x-scaled.png'" alt="60-day job interview guarantee" />
    <div class="interview-guarantee-text-container">
        <h3>
            DreamShift Guarantees Interviews
        </h3>
            
        <p>
            Invest in your career with zero risk. We guarantee that your DreamShift-optimized documents (CV, Cover Letter, and LinkedIn Profile) will secure you at least one job interview within 60 days, or we give you options
        </p>
        <ul>
            <li>
                <b>100% Free Document Rewrite:</b> Our team completely reworks all your materials.
            </li>
            <li>
                <b>50% Refund:</b> Get half your service fee back.
            </li>
        </ul>
        <p>
            *Must meet guarantee terms, including providing proof of job applications made during the 60 days.
        </p>
    </div>
</div>