<div class="header-container" [class.header-hidden]="!isHeaderVisible">
    <div class="navbar-container" >
        <div class="navbar-side-container">
          <img [src]="cdnUrl + '2023/11/cropped-Asset-11.png'" alt="Dream Shift" />
        </div>
      
        <div class="navbar-side-container">
          <button
            type="button"
            class="navbar-icon-button ds-clickable-icon"
            (click)="openMenu(offcanvasMenu)"
            aria-label="Open navigation menu"
          >
            <i class="fa-solid fa-bars fa-lg navbar-icon"></i>
          </button>
      
          <div class="navbar-links">
            @for (link of links; track link.id) {
              <a class="navlink" [routerLink]="link.route">
                {{ link.text }}
              </a>
            }
            <button type="button" class="btn ds-primary-btn">
              Free Consultation
            </button>
          </div>
        </div>
    </div>      
</div>

<ng-template #offcanvasMenu let-offcanvas>
  <div class="offcanvas-header">
    <button
      type="button"
      class="close-button"
      aria-label="Close"
      (click)="offcanvas.close()"
    >
    <i class="fa-solid fa-xmark fa-lg ds-clickable-icon"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <nav class="offcanvas-nav">
      @for (link of links; track link.text) {
        <a
          class="navlink"
          [routerLink]="link.route"
          (click)="offcanvas.close()"
        >
          {{ link.text }}
        </a>
      }
      <button type="button" class="btn ds-primary-btn side-menu-btn">
        Get Started
      </button>
    </nav>
  </div>
</ng-template>
