@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;
@use 'styles/fonts.styles.scss' as fonts;


$step-count: 6;
$circle-diameter: 30px;

.contact-us-container {
    padding-top: 30px;
}

.contact-us-title-container {
    h1 {
        margin-bottom: 30px;
    }
}

a {
    color: colors.$ds-yellow-1;
    text-decoration: none;

    &:hover {
        color: colors.$ds-yellow-2;
        text-decoration: underline;
    }
}

form {
    align-items: center;
}

.form-stepper-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    color: colors.$ds-black-1;
    font-weight: 900;
    font-family: fonts.$headings-font;

    min-width: 300px;
    max-width: 600px;
    margin: 0 auto 20px auto;

    .form-stepper-inner-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .form-stepper-step {
        min-width: $circle-diameter;
        height: $circle-diameter;
        border-radius: 50%;
        line-height: $circle-diameter;
        text-align: center;
    }

    .completed-step {
        background-color: colors.$ds-yellow-2;
    }

    .current-step {
        background-color: colors.$ds-yellow-1;
    }

    .future-step {
        background-color: colors.$ds-white-1;
    }

    .form-stepper-line {
        width: calc((100% / $step-count));
        height: 5px;

        &:last-child {
            display: none;
        }
    }
}

.form-group {
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    
    h5 {
        width: 90%;
    }
}

.form-navigation-container {
    // margin-top: 20px;
    min-width: 300px;
    max-width: 600px;
    margin: 30px auto 0px auto;

    .form-navigation-inner-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

.contact-us-data-input-field {
    width: 90%;
    text-align: center;
    resize: none;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid colors.$ds-yellow-1;
    outline: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    field-sizing: content;
    line-height: 1.5;
    max-height: 120px;
    resize: none;
}