@use '../../../styles/colors.styles.scss' as colors;

.excel-preview {
  .hot-table-container {
    overflow: auto;
    border-radius: 8px;
    background: colors.$ds-white-1;
    color: colors.$ds-black-1;

    hot-table {
      display: block;
    }
  }
}

