@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;


.email-template-container-wrapper {
    @media (max-width: contentWidth.$content-narrow-width) {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }
}

.email-template-container-header {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;

    h3 {
        margin-bottom: 0px;
        line-height: 40px;
    }

    a {
        line-height: calc(40px - 0.75rem);
    }

    @media (max-width: contentWidth.$content-narrow-width) {
        flex-direction: column;
        align-items: center;
    }
}

.email-template-container {
    background-color: colors.$ds-white-1;
    // padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: colors.$ds-black-1;


    .email-section {
        margin-bottom: 10px;
        border-bottom: 2px solid colors.$ds-border;
        padding: 10px;

        &:last-child {
            border-bottom: none;
        }
    }
}