<div class="email-template-container-wrapper">
    <div class="email-template-container-header">
        <h3 *ngIf="emailTitle.length > 0">
            <span *ngIf="emailIcon.length > 0">
                <i [class]="emailIcon"></i>
            </span>
            {{ emailTitle }}
        </h3>

        <div *ngIf="emailTo.length > 0" ngbDropdown class="btn-group d-inline-flex" placement="bottom-end">
            <!-- Primary action: click text to download Excel -->
            <button
              type="button"
              class="btn ds-primary-btn"
              (click)="sendEmailFromTemplate()"
            >
            <i class="fa-regular fa-paper-plane"></i>
              Send email from template
            </button>
          
            <!-- Split button toggle: click caret to open menu -->
            <button
              type="button"
              class="btn ds-primary-btn dropdown-toggle dropdown-toggle-split"
              ngbDropdownToggle
              id="excelDownloadDropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="visually-hidden">Toggle dropdown</span>
            </button>
          
            <div
              ngbDropdownMenu
              aria-labelledby="excelDownloadDropdown"
              class="dropdown-menu dropdown-menu-end"
            >
              <button
                ngbDropdownItem
                type="button"
                (click)="copyText()"
              >
                Copy Email Body
              </button>
            </div>
          </div>
        <button *ngIf="emailTo.length === 0" (click)="copyText()" class="btn ds-primary-btn">
            <i class="fa-regular fa-copy"></i>
            Copy text
        </button>
    </div>
    <div class="email-template-container"> 
        <div class="email-section" *ngIf="emailTo.length > 0"><b>To:</b> {{ emailTo }}</div>
        <div class="email-section" *ngIf="emailSubject.length > 0"><b>Subject:</b> {{ emailSubject }}</div>
        <div class="email-section">
            <div [innerHTML]="emailBody"></div>
        </div>
    </div>
</div>