<div class="interview-guarantee-container">
    <img [src]="cdnUrl + '2025/11/60-days-Job-interview-Guaranteed@4x-scaled.png'" alt="60-day job interview guarantee" />
    <div class="interview-guarantee-text-container">
        <h3>
            DreamShift <u>Guarantees</u> Interviews
        </h3>
            
        <p>
            Land Interviews – Or Get Your Money Back, Guaranteed!
        </p>

        <button class="btn ds-secondary-btn rounded-btn small-btn">
            Learn more
        </button>
    </div>
</div>