@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;   

.packages-main-text {
    font-size: 36px;
    line-height: 1.2;
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    color: colors.$ds-white-1;
    text-align: center;
    margin-top: 50px;
}


.packages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    font-family: "Inter", Sans-serif;
    
    @media (min-width: contentWidth.$media-boundary) {
        justify-content: space-between;
    }

    @media (max-width: contentWidth.$media-boundary) {
        justify-content: center;
        gap: 20px;
    }
}

.package-card {
    background-color: colors.$ds-white-1;
    color: colors.$ds-black-1;
    border-radius: 17px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    border: 2px solid colors.$ds-white-1;
        

    &:hover {
        border: 2px solid colors.$ds-yellow-1;
        box-shadow: 0 12px 28px rgb(0 0 0 / .08);
        transform: translateY(-2px);
    }

    @media (min-width: contentWidth.$media-boundary) {
        width: 32%;
    }
    
    @media (min-width: contentWidth.$content-narrow-width) and (max-width: contentWidth.$media-boundary){    
        width: 40%;
    }
    
    @media (max-width: contentWidth.$content-narrow-width) {
        width: 80%;
    }
}

.package-header {
    font-size: 24px;
    font-weight: 600;
    color: colors.$ds-black-1;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.package-price {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: .3px;
}