@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;   
@use 'styles/fonts.styles.scss' as fonts;

.packages-main-text {
    font-size: 36px;
    line-height: 1.2;
    font-family: "Inter", Sans-serif;
    font-weight: 600;
    color: colors.$ds-white-1;
    text-align: center;
    margin-top: 50px;
}


.packages-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    font-family: "Inter", Sans-serif;
    
    @media (min-width: contentWidth.$media-boundary) {
        justify-content: space-between;
        margin: 30px 50px 0px 50px;
    }

    @media (max-width: contentWidth.$media-boundary) {
        justify-content: center;
        gap: 20px;
    }
}

.consultation-card {
    background-color: colors.$ds-white-1;
    color: colors.$ds-black-1;
    border-radius: 17px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: -webkit-fill-available;
    border: 2px solid colors.$ds-white-1;
    position: relative;
    margin: 30px auto;

    @media (min-width: contentWidth.$media-boundary) {
        width: 50%;
    }
    
    @media (min-width: contentWidth.$content-narrow-width) and (max-width: contentWidth.$media-boundary){    
        width: 65%;
    }
    
    @media (max-width: contentWidth.$content-narrow-width) {
        width: 80%;
        flex-direction: column;
    }

    .consultation-card-text {
        text-align: center;
    }

    button {
        margin-top: 10px;
        font-size: 15px;
        padding: 5px 40px;
    }
}

.package-card {
    background-color: colors.$ds-white-1;
    color: colors.$ds-black-1;
    border-radius: 17px;
    padding: 20px;
    display: list-item;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    border: 2px solid colors.$ds-white-1;
    position: relative;
        

    &:hover {
        border: 2px solid colors.$ds-yellow-1;
        box-shadow: 0 12px 28px rgb(0 0 0 / .08);
        transform: translateY(-2px);
    }

    @media (min-width: contentWidth.$media-boundary) {
        width: 32%;
    }
    
    @media (min-width: contentWidth.$content-narrow-width) and (max-width: contentWidth.$media-boundary){    
        width: 65%;
    }
    
    @media (max-width: contentWidth.$content-narrow-width) {
        width: 80%;
    }

    .best-seller-badge {
        position: absolute;
        top: 0;
        right: 0;
        background-color: colors.$ds-yellow-1;
        color: colors.$ds-black-1;
        padding: 5px 15px;
        transform: rotate(90deg) translate(37%, -160%);
        border-radius: 15px 0px 15px 0px;

        h6 {
            font-size: 12px;
            margin-bottom: 0px;
            font-weight: 700;
        }
    }
}

.package-header {
    font-size: 24px;
    font-weight: 600;
    color: colors.$ds-black-1;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.package-price {
    font-weight: 700;
    font-size: 40px;
    letter-spacing: .3px;
    text-align: center;

    .package-currency {
        font-weight: 700;
        font-size: 20px;
    }
}

.installment-text {
    font-size: 17px;
    color: colors.$ds-purple-1;
    margin-bottom: 14px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

.get-started-btn {
    width: 80%;
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
}

.package-ideal-container {
    height: 90px;
}

.package-ideal {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
    padding: 12px 16px;
    text-align: center;
    color: #24101a;
    font-weight: 500;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
}

.package-inclusion {
    .package-inclusion-icon {
        color: colors.$ds-green-1;
        width: 10%;
        margin-right: 5%;
        vertical-align: middle;
        margin-top: 4px;    
    }

    .inclusion-text {
        width: 85%;
        display: inline-block;
        vertical-align: middle;
    }

    font-size: 17px;
    margin-top: 5px;
    font-weight: 500;
    font-family: fonts.$headings-font;
}

.package-exclusions-container {
    .package-inclusion-icon {
        color: colors.$ds-grey-1;
    }

    .inclusion-text {
        color: colors.$ds-grey-1;
        text-decoration: line-through;
    }
}