<!-- <div class="get-started-banner-container">
    <div class="full-width-yellow-banner">
        <div class="get-started-banner">
            <div class="get-started-banner-text-container">
                <h1 *ngIf="isMobileDevice">
                    {{ getMobileText() }}
                </h1>
                <h2 *ngIf="!isMobileDevice">
                    {{ getDesktopHeading() }}
                </h2>
                <h5 *ngIf="!isMobileDevice">{{ getDesktopText() }}</h5>    
            </div>
            <button class="btn black-btn" (click)="onClickNavigationButton()">
                {{ getButtonText() }}
            </button>
        </div>
    </div>
</div> -->

  
  <div class="banner-wrap">
    <div class="banner-top">
      <div>
        <h2 class="banner-headline">Australian Job Search Toolkit</h2>
        <p class="banner-sub">These Strategies worked for 200+. successful job seekers!</p>
      </div>
      <button class="btn black-btn" (click)="goToResources()">
        Get free access
      </button>
    </div>
  
    <div class="resources-grid">
      <div class="resource-card">
        <i class="fa-solid fa-folder-open fa-lg free-resource-icon"></i>
        <p class="resource-title">Upskilling Resources</p>
        <!-- <p class="resource-desc">Explore a range of platforms to upskill yourself for the Australian job market.</p> -->
         <!-- <a class="resource-link" href="#">Download free <i class="ti ti-arrow-right" aria-hidden="true"></i></a> -->
      </div>
      <div class="resource-card">
        <i class="fa-solid fa-users-rays fa-lg free-resource-icon"></i>
        <p class="resource-title">Recruiting Agencies in Australia</p>
        <!-- <p class="resource-desc">Find top recruitment agencies, industry-specific opportunities, and visa-friendly career guidance. </p> -->
        <!-- <a class="resource-link" href="#">Download free <i class="ti ti-arrow-right" aria-hidden="true"></i></a> -->
      </div>
      <div class="resource-card">
        <i class="fa-solid fa-people-arrows fa-lg free-resource-icon"></i>
        <p class="resource-title">Event & Networking Platforms</p>
        <!-- <p class="resource-desc">Discover Australia’s top professional event & networking platforms for career growth, industry connections, and community events.</p> -->
        <!-- <a class="resource-link" href="#">Download free <i class="ti ti-arrow-right" aria-hidden="true"></i></a> -->
      </div>
    </div>
  </div>
  