<div class="process-page-container">
    <div>
        <h1>
            Our Unique Process
        </h1>
        <div class="process-video-container">
            <iframe src="https://player.vimeo.com/video/1128317553?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" 
                frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" class="process-video" 
                title="Our Process">
            </iframe>
        </div>        
    </div>
    <app-process-walkthrough></app-process-walkthrough>
    <app-faq></app-faq>
    <app-full-width-banner mode="process"></app-full-width-banner>
</div>
