@use '../styles/colors.styles' as colors;

// body {
//   background-color: colors.$ds-body-background;
//   font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
//     Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
//     "Segoe UI Symbol";
// }

.content {
  background-color: colors.$ds-content-background;
  min-height: 100vh;
}

.sm-icon {
  font-size: 1em;
  color: colors.$ds-white-1;

  &:hover {
    color: colors.$ds-yellow-1;
    cursor: pointer;
  }
}