@use '../styles/colors.styles' as colors;
@use '../styles/content-width.styles.scss' as contentWidth;

.content {
  background-color: colors.$ds-content-background;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner-content {
    margin: 0 contentWidth.$padding-width;
    border: 2px solid colors.$ds-yellow-1;
  }
}

.sm-icon {
  font-size: 1em;
  color: colors.$ds-white-1;

  &:hover {
    color: colors.$ds-yellow-1;
    cursor: pointer;
  }
}