@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;

.content {
  background-color: colors.$ds-content-background;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  
  .inner-content {
    margin: 0 contentWidth.$padding-width;
    // border: 2px solid colors.$ds-yellow-1;

    @media (min-width: contentWidth.$content-width){
      padding: 0 contentWidth.$padding-width;
      width: contentWidth.$content-width;
      margin: 0 auto;
    }

    @media (min-width: contentWidth.$media-boundary){
      margin-top: 96px; //fixed-header-height-adjustments
    }
  }
}

.move-to-top-container {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 1000;
}

.move-to-top-button {
  background-color: colors.$ds-yellow-1;
  color: colors.$ds-purple-2;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid colors.$ds-yellow-2;
  box-shadow: 5px 18px 18px rgba(0, 0, 0, .18);

  &:hover {
    background-color: colors.$ds-yellow-2;
  }
}