@use '../styles/colors.styles' as colors;
@use '../styles/content-width.styles.scss' as contentWidth;

.content {
  background-color: colors.$ds-content-background;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  border: 2px solid red;

  .inner-content {
    margin: 0 contentWidth.$padding-width;
    border: 2px solid colors.$ds-yellow-1;
    min-height: 700px;

    @media (min-width: contentWidth.$content-width){
      padding: 0 contentWidth.$padding-width;
      width: contentWidth.$content-width;
      margin: 0 auto;
    }
  }
}

.full-width-test {
  height: 200px;
  background: red;
  width: 100%;
  position: absolute;
}