@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;

.content {
  background-color: colors.$ds-content-background;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  
  .inner-content {
    margin: 0 contentWidth.$padding-width;
    // border: 2px solid coloxrs.$ds-yellow-1;

    @media (min-width: contentWidth.$content-width){
      padding: 0 contentWidth.$padding-width;
      width: contentWidth.$content-width;
      margin: 0 auto;
    }

    @media (min-width: contentWidth.$media-boundary){
      margin-top: 96px; //fixed-header-height-adjustments
    }
  }
}