<div class="testimonial-container">
    <p class="testimonial-text" [innerHTML]="testimonial.testimonial"></p>
    <img [src]="testimonial.imageURL" [alt]="testimonial.name" class="testimonial-image" />
    <a [href]="testimonial.linkedinURL" target="_blank" *ngIf="testimonial.linkedinURL">
        <h3 class="testimonial-name">{{ testimonial.name }}</h3>
        <i class="fa-brands fa-linkedin fa-lg"></i>
    </a>
    <h3 class="testimonial-name" style="padding-top: 15px;" *ngIf="!testimonial.linkedinURL">{{ testimonial.name }}</h3>
    <p class="testimonial-position" [innerHTML]="testimonial.position"></p>
</div>
