@use 'styles/colors.styles.scss' as colors;

h1 {
    color: colors.$ds-white-1;
    text-align: center;
    margin-bottom: 30px;
}

.accordion-item {
    background-color: colors.$ds-white-1;
    border: 1px solid colors.$ds-white-1;
    border-radius: 10px;
    // padding: 10px;
    margin-bottom: 10px;
    color: colors.$ds-black-1;

    .accordion-button {
        border-radius: 8px;
        color: colors.$ds-black-1;
        background-color: colors.$ds-white-1;
        outline: none;
        box-shadow: none;

        i {
            margin-right: 10px;
            transition: transform 0.2s ease-in-out;
        }

        &.collapsed {
            i {
                transform: rotate(-90deg);
            }
        }

        &:after {
            display: none;
        }

        h6 {
            margin-bottom: 0px;
        }
        // &:after {
        //     display: none;
        // }
    }

    .accordion-body {
        font-weight: 300;
    }
}