<h1>FAQ</h1>

<div ngbAccordion #accordion="ngbAccordion" [closeOthers]="true">
	<div ngbAccordionItem="industries">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
                <i class="fa-solid fa-chevron-down"></i>
                <h6>Have you worked with clients in my industry?</h6>
            </button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
					We’ve partnered with clients across 40+ industries, including:
                    <ul>
                        <li>Banking & Finance</li>
                        <li>Beauty & Cosmetics</li>
                        <li>Business Development</li>
                        <li>Education</li>
                        <li>Government & Regulatory</li>
                        <li>Human Resources (HR)</li>
                        <li>Information Technology (IT)</li>
                        <li>Logistics</li>
                        <li>Manufacturing</li>
                        <li>Non-Profit & Humanitarian</li>
                        <li>Operations</li>
                        <li>Retail</li>
                        <li>Sales & Marketing</li>
                        <li>Telecommunication</li>
                        <li>Travel & Hospitality</li>
                    </ul>
                    If you don’t see your industry listed, don’t hesitate to reach out. We’re here to help!
				</ng-template>
			</div>
		</div>
	</div>


    <div ngbAccordionItem="customization">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
                <i class="fa-solid fa-chevron-down"></i>
                <h6>Can I customize a package to fit my needs?</h6>
            </button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <b>Absolutely!</b> We understand that every client is unique, and we’re flexible in tailoring our services to meet your specific requirements. Just let us know what you need, and we’ll work with you to create a personalized solution.
                </ng-template>
			</div>
		</div>
	</div>

    <div ngbAccordionItem="revisions">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
                <i class="fa-solid fa-chevron-down"></i>
                <h6>Do you offer revisions?</h6>
            </button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    <b>Yes</b>, we value your satisfaction and offer revisions to ensure your documents meet your expectations. We provide unlimited rounds of revisions within 1st week after delivering the initial draft.
                </ng-template>
			</div>
		</div>
	</div>

    <div ngbAccordionItem="expedited">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
                <i class="fa-solid fa-chevron-down"></i>
                <h6>What if I have an Urgent Project Deadline?</h6>
            </button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    We understand that sometimes time is of the essence. While we strive to accommodate urgent requests whenever possible, <b>EXPEDITED SERVICES</b> may be available for a small additional fee. Please contact us to discuss your specific timeline, and we’ll do our best to meet your needs.
                </ng-template>
			</div>
		</div>
	</div>

    <div ngbAccordionItem="turnaround-time">
		<h2 ngbAccordionHeader>
			<button ngbAccordionButton>
                <i class="fa-solid fa-chevron-down"></i>
                <h6>What is the turnaround time for your services?</h6>
            </button>
		</h2>
		<div ngbAccordionCollapse>
			<div ngbAccordionBody>
				<ng-template>
                    Turnaround times vary depending on the package and service you choose which are mentioned above. Typically, you can expect to receive your completed documents <b>within 5-14 Days</b>, ensuring timely delivery without compromising quality.    
                </ng-template>
			</div>
		</div>
	</div>
</div>