<div class="page-container">
    <div>
        <h1>Blog</h1>
        <div class="filters-container">
            <div class="search-container">
                <input type="text" placeholder="Search" />
                <button type="button" class="btn ds-primary-btn search-btn">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
             <div class="select-container">
                <label for="category">Select category</label>
                <select id="category" class="form-select">
                    @for (category of categoriesList; track category.id) {
                        <option *ngIf="category.visible">{{ category.name }}</option>
                    }
                </select>
             </div>
        </div>    
    </div>
    <div class="blog-posts-container" *ngIf="!loading">
        @for (post of posts; track post.id) {
            <app-blog-post-card [post]="post"></app-blog-post-card>
        }
    </div>    
    <div class="loading-container" *ngIf="loading">
        <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
        <h3>Loading...</h3>
    </div>
</div>