<div class="page-container">
    <div>
        <h1>Blog</h1>
        <div class="filters-container">
            <form class="search-container" (ngSubmit)="setSearch()">
                <ds-input
                    icon="fa-solid fa-search"
                    placeholder="Search"
                    [value]="search ?? ''"
                    (valueChange)="search = $event"
                />
                <button type="submit" class="btn ds-primary-btn search-btn" aria-label="Search">
                    <i class="fa-solid fa-search"></i>
                </button>
            </form>
            <div class="select-container">
                <label>Select category</label>
                <ds-dropdown
                    [options]="getCategoryOptions()"
                    [label]="getCategoryDropdownLabel()"
                    [selected]="getSelectedCategorySet()"
                    (selectedChange)="onCategorySelectionChange($event)"
                />
            </div>
        </div>    
    </div>
    <div class="blog-posts-container" *ngIf="!loading">
        @for (post of posts; track post.id) {
            <app-blog-post-card [post]="post"></app-blog-post-card>
        }
    </div>
    <div *ngIf="posts.length < totalPosts && !loading" class="load-more-btn-container">
        <button 
        type="button" 
        class="btn ds-primary-btn load-more-btn" 
        (click)="loadMorePosts()">
            @if (loadingMorePosts) {
                Loading...
            } @else {
                Load More
            }
    </button>
    </div>
    
    <div class="loading-container" *ngIf="loading">
        <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
        <h3>Loading...</h3>
    </div>
</div>