@use '../../../styles/colors.styles.scss' as colors;
@use '../../../styles/content-width.styles.scss' as contentWidth;

.banner-container {
    @media (min-width: contentWidth.$media-boundary) {
        display: flex;
        justify-content: space-between;
        align-items: center;            
    }

    @media (max-width: contentWidth.$media-boundary) {
        display: block;
        text-align: center;

        .ds-secondary-btn {
            margin-bottom: 30px;
        }
    }


    h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 72px;
        color: #FFF;

        .days {
            color: colors.$ds-yellow-1;
        }
    }

    h3 {
        // font-family: "Inter", Sans-serif;
        font-weight: 600;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    >img {
        width: 40%;
    }

    .ds-secondary-btn {
        border: 2px solid colors.$ds-yellow-1;
        border-radius: 40px;
        padding: 10px 50px;
        color: colors.$ds-white-1;
        font-size: 21px;
        font-weight: 600;

        &:hover {
            color: colors.$ds-purple-2;
            background-color: colors.$ds-yellow-1;
        }
    }
}