@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;
@use 'styles/fonts.styles.scss' as fonts;

.banner-container {
    @media (min-width: contentWidth.$media-boundary) {
        display: flex;
        justify-content: space-between;
        align-items: center;            
    }

    @media (max-width: contentWidth.$media-boundary) {
        display: block;
        text-align: center;

        .ds-secondary-btn {
            margin-bottom: 30px;
        }
    }


    h1 {
        font-size: 55px;
        font-weight: 600;
        line-height: 72px;
        color: #FFF;

        .days {
            color: colors.$ds-yellow-1;
        }
    }

    h3 {
        // font-family: "Inter", Sans-serif;
        font-weight: 600;
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    >img {
        // width: 40%;
        // margin: 9vh 0;

        // @media (max-width: contentWidth.$content-width) {
        //     width: 80%;
        //     margin: 0 auto; 
        // }

        // @media (min-width: contentWidth.$content-width) and (max-width: contentWidth.$media-boundary){
        //     width: 50%;
        //     margin: 0 auto; 
        // }

        /// ADJUST THESE

        @media (min-width: contentWidth.$media-boundary) {
            width: 50%;
            margin: 9vh 0;
        }
        
        @media (min-width: contentWidth.$content-narrow-width) and (max-width: contentWidth.$media-boundary){    
            width: 70%;
            margin: 9vh 0;
        }
        
        @media (max-width: contentWidth.$content-narrow-width) {
            width: 80%;
            margin: 3vh auto;
        }
    }

}

@media (max-width: contentWidth.$content-width) {
    .down-arrow-container {
        display: none;
    }
}

.down-arrow {
    text-align: center;
    font-size: 4em;
    width: 100%;
    animation: MoveUpDown 1s linear infinite alternate;
    color: colors.$ds-yellow-1;
    margin: 20px;
}

.centered-btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

#this-is-why {
    margin-top:8vh;
}

@keyframes MoveUpDown {
    0% {
      transform: translateY(0); /* Start at the original vertical position */
    }
    100% {
      transform: translateY(-20px); /* Move up by 50 pixels (negative value) */
    }
}

.process-text {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: colors.$ds-white-1;
    margin-top: 50px;
}

.clients-text {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: colors.$ds-white-1;
    padding-top: 50px;
    display: block;
    margin-bottom: 20px;
}

.video-testimonials-container {
    display: flex;
    margin-top: 20px;
}

.video-testimonial-item  {
    height: 500px;
    position: relative;
    display: block;
    width: -webkit-fill-available;

    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

