<div class="get-started-banner-container">
    <div class="full-width-yellow-banner">
        <div class="get-started-banner">
            <div class="get-started-banner-text-container">
                <h2>
                    Ready To Secure Your Next Job?
                </h2>
                <p>Work with us and land job interviews in 60 days.</p>    
            </div>
            <button class="btn black-btn">
                Get Started
            </button>
        </div>
    </div>
</div>