@use 'styles/colors.styles.scss' as colors;
@use 'styles/content-width.styles.scss' as contentWidth;


.get-started-banner-container {
    min-height: 200px;
    display: block;

    .full-width-yellow-banner {
        height: min-content;
        padding: 30px 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 300px;

        .get-started-banner {
            margin: auto contentWidth.$padding-width;
            display: flex;
            justify-content: space-between;
            min-width: 300px;
            color: colors.$ds-black-1;
            
            @media (min-width: contentWidth.$content-width){
                padding: 0 contentWidth.$padding-width;
                width: contentWidth.$content-width;
                margin: auto;
            }

            @media only screen and (max-width: contentWidth.$content-narrow-width) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}


.black-btn {
    border: 2px solid colors.$ds-black-1;
    border-radius: 5px;
    padding: 5px 20px;
    color: colors.$ds-yellow-1;
    font-size: 21px;
    font-weight: 600;
    background-color: colors.$ds-black-1;
    height: min-content;
    margin: auto 0;

    &:hover {
        background-color: colors.$ds-black-2;
    }
}