<div class="get-started-banner-container">
    <div class="full-width-yellow-banner">
        <div class="get-started-banner">
            <div class="get-started-banner-text-container">
                <h1 *ngIf="isMobileDevice()">
                    {{ getMobileText() }}
                </h1>
                <h2 *ngIf="!isMobileDevice()">
                    {{ getDesktopHeading() }}
                </h2>
                <h5 *ngIf="!isMobileDevice()">{{ getDesktopText() }}</h5>    
            </div>
            <button class="btn black-btn">
                {{ getButtonText() }}
            </button>
        </div>
    </div>
</div>