@use './styles/colors.styles.scss' as colors;
@use './styles/fonts.styles.scss';


* {
  box-sizing: border-box;
}

body {
  background-color: colors.$ds-body-background;
  font-family: "Raleway", sans-serif;
  color: colors.$ds-white-1;
  margin: 0;
  padding: 0;
}

.ds-clickable-icon {
  color: colors.$ds-white-1;;

  &:hover {
    color: colors.$ds-yellow-1;
    cursor: pointer;
  }
}