@use './styles/colors.styles.scss' as colors;
@use './styles/fonts.styles.scss';

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

body {
  background-color: colors.$ds-body-background;
  font-family: "Raleway", sans-serif;
  color: colors.$ds-white-1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.ds-clickable-icon {
  color: colors.$ds-white-1;

  &:hover {
      color: colors.$ds-yellow-1;
      cursor: pointer;
  }
}

.ds-primary-btn {
  background-color: colors.$ds-yellow-1;
  font-weight: 600;

  &:hover {
      cursor: pointer;
      background-color: colors.$ds-yellow-2;
      color: colors.$ds-black-1;
      box-shadow: 0 15px 25px -7px rgb(0 0 0 / .1);
  }
}


.ds-secondary-btn {
  border: 2px solid colors.$ds-yellow-1;
  border-radius: 40px;
  padding: 10px 50px;
  color: colors.$ds-white-1;
  font-size: 21px;
  font-weight: 600;

  &:hover {
      color: colors.$ds-purple-2;
      background-color: colors.$ds-yellow-1;
  }
}

.full-width-yellow-banner {
  height: 200px;
  background: colors.$ds-yellow-1;
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}