<div class="blog-post-page-container" *ngIf="!loading">

    <img *ngIf="post?.featuredImage" [src]="post?.featuredImage" alt="Blog Post Banner" />

    <div class="blog-post-page-content">
        <div class="left-banner">
            <div class="toc-container">
                <h4>Table of Contents</h4>
                <ul>
                    @for (item of toc; track item.id) {
                        <li><a href="#" (click)="goToSection(item.id, $event)">{{ item.text }}</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="blog-post-container">
            <h1>{{ blogTitle }}</h1>
            <div class="blog-post-info">
                <div>
                    <i class="fa-solid fa-tags"></i>
                    {{ getCategories() }}    
                </div>
                <div>
                    <i class="fa-solid fa-calendar-days"></i>
                    {{ post?.date | date:'dd MMMM yyyy' }}    
                </div>                
            </div>
            <div class="post-content">
                <div [innerHTML]="blogTextSafe"></div>
            </div>    
        </div>
        <div class="right-banner">
            <app-blog-post-right-panel></app-blog-post-right-panel>
        </div>
    </div>

    <app-inter-blog-post-navigation [previousPost]="previousPost" [nextPost]="nextPost" [relatedPosts]="relatedPosts"></app-inter-blog-post-navigation>
    
    <app-full-width-banner mode="blog-post"></app-full-width-banner>

    <app-footer [origin]="'blogPost'"></app-footer>
</div>  

<div class="loading-container" *ngIf="loading">
    <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
    <h3>Loading...</h3>
</div>

