<div class="blog-post-page-container" *ngIf="!loading">
    <div class="blog-post-page-content">
        <div class="left-banner">
            <div class="toc-container">
                <h2>Table of Contents</h2>
                <ul>
                    @for (item of toc; track item.id) {
                        <li><a href="#" (click)="goToSection(item.id, $event)">{{ item.text }}</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="blog-post-container">
            <h1>{{ blogTitle }}</h1>
            <div class="post-content">
                <div [innerHTML]="blogTextSafe"></div>
            </div>    
        </div>
        <div class="right-banner">
        </div>
    </div>
    
    <app-full-width-banner mode="blog-post"></app-full-width-banner>

    <app-footer [origin]="'blogPost'"></app-footer>
</div>  

<div class="loading-container" *ngIf="loading">
    <i class="fa-solid fa-spinner fa-spin fa-3x"></i>
    <h3>Loading...</h3>
</div>

