@use '../../../styles/colors.styles.scss' as colors;
@use '../../../styles/content-width.styles.scss' as contentWidth;

.excel-downloads-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}